.container{
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem
}
@media (min-width: 480px){
        .container{
                max-width: 480px
        }
}
@media (min-width: 600px){
        .container{
                max-width: 600px;
                padding-right: 2rem;
                padding-left: 2rem
        }
}
@media (min-width: 782px){
        .container{
                max-width: 782px
        }
}
@media (min-width: 960px){
        .container{
                max-width: 960px;
                padding-right: 0rem;
                padding-left: 0rem
        }
}
@media (min-width: 1280px){
        .container{
                max-width: 1280px
        }
}
@media (min-width: 1440px){
        .container{
                max-width: 1440px
        }
}
.visible{
        visibility: visible
}
.static{
        position: static
}
.fixed{
        position: fixed
}
.absolute{
        position: absolute
}
.relative{
        position: relative
}
.inset-0{
        inset: 0px
}
.inset-y-0{
        top: 0px;
        bottom: 0px
}
.bottom-0{
        bottom: 0px
}
.left-10{
        left: 2.5rem
}
.z-10{
        z-index: 10
}
.z-\[1000\]{
        z-index: 1000
}
.float-right{
        float: right
}
.mx-auto{
        margin-left: auto;
        margin-right: auto
}
.my-8{
        margin-top: 2rem;
        margin-bottom: 2rem
}
.my-auto{
        margin-top: auto;
        margin-bottom: auto
}
.mb-1{
        margin-bottom: 0.25rem
}
.mb-2{
        margin-bottom: 0.5rem
}
.mb-4{
        margin-bottom: 1rem
}
.ml-2{
        margin-left: 0.5rem
}
.mr-2{
        margin-right: 0.5rem
}
.mt-4{
        margin-top: 1rem
}
.block{
        display: block
}
.inline-block{
        display: inline-block
}
.inline{
        display: inline
}
.flex{
        display: flex
}
.table{
        display: table
}
.contents{
        display: contents
}
.hidden{
        display: none
}
.aspect-square{
        aspect-ratio: 1 / 1
}
.aspect-video{
        aspect-ratio: 16 / 9
}
.h-10{
        height: 2.5rem
}
.h-4{
        height: 1rem
}
.h-48{
        height: 12rem
}
.h-8{
        height: 2rem
}
.h-full{
        height: 100%
}
.w-12{
        width: 3rem
}
.w-14{
        width: 3.5rem
}
.w-4{
        width: 1rem
}
.w-96{
        width: 24rem
}
.w-full{
        width: 100%
}
.w-max{
        width: -moz-max-content;
        width: max-content
}
.-translate-y-10{
        --tw-translate-y: -2.5rem;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-full{
        --tw-translate-y: 100%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform{
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer{
        cursor: pointer
}
.resize{
        resize: both
}
.list-decimal{
        list-style-type: decimal
}
.list-disc{
        list-style-type: disc
}
.list-none{
        list-style-type: none
}
.columns-3{
        -moz-columns: 3;
             columns: 3
}
.items-center{
        align-items: center
}
.justify-end{
        justify-content: flex-end
}
.justify-center{
        justify-content: center
}
.justify-between{
        justify-content: space-between
}
.overflow-y-auto{
        overflow-y: auto
}
.truncate{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
}
.rounded{
        border-radius: 0.25rem
}
.rounded-full{
        border-radius: 9999px
}
.border{
        border-width: 1px
}
.border-r{
        border-right-width: 1px
}
.border-red-200{
        --tw-border-opacity: 1;
        border-color: rgb(254 202 202 / var(--tw-border-opacity))
}
.border-transparent{
        border-color: transparent
}
.bg-gray-200{
        --tw-bg-opacity: 1;
        background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-gray-300{
        --tw-bg-opacity: 1;
        background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}
.bg-gray-800{
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}
.bg-gray-900{
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}
.bg-primary{
        --tw-bg-opacity: 1;
        background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}
.bg-transparent{
        background-color: transparent
}
.bg-white{
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-opacity-50{
        --tw-bg-opacity: 0.5
}
.fill-current{
        fill: currentColor
}
.object-contain{
        -o-object-fit: contain;
           object-fit: contain
}
.object-cover{
        -o-object-fit: cover;
           object-fit: cover
}
.p-0{
        padding: 0px
}
.p-5{
        padding: 1.25rem
}
.px-3{
        padding-left: 0.75rem;
        padding-right: 0.75rem
}
.px-3\.5{
        padding-left: 0.875rem;
        padding-right: 0.875rem
}
.px-4{
        padding-left: 1rem;
        padding-right: 1rem
}
.py-1{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
}
.py-2{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem
}
.py-3{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem
}
.pb-0{
        padding-bottom: 0px
}
.pl-12{
        padding-left: 3rem
}
.pl-16{
        padding-left: 4rem
}
.pt-0{
        padding-top: 0px
}
.pt-2{
        padding-top: 0.5rem
}
.text-2xl{
        font-size: 1.5rem;
        line-height: 2rem
}
.text-sm{
        font-size: .8rem
}
.font-bold{
        font-weight: 700
}
.font-extrabold{
        font-weight: 800
}
.uppercase{
        text-transform: uppercase
}
.lowercase{
        text-transform: lowercase
}
.capitalize{
        text-transform: capitalize
}
.leading-tight{
        line-height: 1.25
}
.text-black{
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity))
}
.text-blue-500{
        --tw-text-opacity: 1;
        color: rgb(59 130 246 / var(--tw-text-opacity))
}
.text-gray-700{
        --tw-text-opacity: 1;
        color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-white{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline{
        text-decoration-line: underline
}
.shadow-lg{
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.outline-none{
        outline: 2px solid transparent;
        outline-offset: 2px
}
.filter{
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition{
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms
}
.duration-500{
        transition-duration: 500ms
}
.ease-in-out{
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.alignfull{
        margin: 2rem calc(50% - 50vw) !important;
        max-width: 100vw !important;
        width: 100vw
}
.alignwide{
        margin: 2rem 0;
        max-width: 1280px !important
}
.alignnone{
        margin-left: 0px;
        margin-right: 0px;
        height: auto;
        max-width: 100%
}
.aligncenter{
        margin: 0.5rem auto;
        display: block
}
@media (min-width: 600px){
        .alignleft:not(.wp-block-button){
                margin-right: 0.5rem;
                float: left
        }
        .alignright:not(.wp-block-button){
                margin-left: 0.5rem;
                float: right
        }
        .wp-block-button.alignleft a{
                float: left;
                margin-right: 1rem
        }
        .wp-block-button.alignright a{
                float: right;
                margin-left: 1rem
        }
}
.wp-caption{
        display: inline-block
}
.wp-caption img{
        margin-bottom: 0.5rem;
        line-height: 1
}
.wp-caption-text{
        font-size: .;
        color: #4b5563
}
.entry-content h1, .block-editor-block-list__layout h1{
        font-size: 1.5rem;
        line-height: 2rem
}
.entry-content h2, .block-editor-block-list__layout h2{
        font-size: 2rem
}
.entry-content h3, .block-editor-block-list__layout h3{
        font-size: 1.5rem
}
.entry-content p a, .entry-content ul a, .entry-content ol a, .block-editor-block-list__layout p a, .block-editor-block-list__layout ul a, .block-editor-block-list__layout ol a{
        --tw-text-opacity: 1;
        color: rgb(59 130 246 / var(--tw-text-opacity));
        text-decoration-line: underline
}
.entry-content p a:hover, .entry-content ul a:hover, .entry-content ol a:hover, .block-editor-block-list__layout p a:hover, .block-editor-block-list__layout ul a:hover, .block-editor-block-list__layout ol a:hover{
        text-decoration-line: none
}
.entry-content p, .entry-content ul, .entry-content ol, .block-editor-block-list__layout p, .block-editor-block-list__layout ul, .block-editor-block-list__layout ol{
        margin-bottom: 2rem
}
.entry-content ul:not(.block-editor-block-variation-picker__variations) li, .block-editor-block-list__layout ul:not(.block-editor-block-variation-picker__variations) li{
        list-style-position: inside;
        list-style-type: disc
}
.entry-content ol li, .block-editor-block-list__layout ol li{
        list-style-position: inside;
        list-style-type: decimal
}
.focus\:w-full:focus{
        width: 100%
}
.focus\:cursor-text:focus{
        cursor: text
}
.focus\:border-red-400:focus{
        --tw-border-opacity: 1;
        border-color: rgb(248 113 113 / var(--tw-border-opacity))
}
.focus\:pl-16:focus{
        padding-left: 4rem
}
.focus\:pr-4:focus{
        padding-right: 1rem
}
.focus\:shadow-none:focus{
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.focus\:outline-none:focus{
        outline: 2px solid transparent;
        outline-offset: 2px
}
.peer:focus ~ .peer-focus\:border-red-300{
        --tw-border-opacity: 1;
        border-color: rgb(252 165 165 / var(--tw-border-opacity))
}
.peer:focus ~ .peer-focus\:stroke-red-500{
        stroke: #ef4444
}
@media (min-width: 782px){
        .md\:text-3xl{
                font-size: 1.875rem;
                line-height: 2.25rem
        }
}
@media (min-width: 960px){
        .lg\:text-5xl{
                font-size: 3rem;
                line-height: 1
        }
}

