/**
 * tailwind config and custom components are currently directly copied from the PublicSpace Web Assets repo
 * TODO: preferbly load this from NPM so we keep track of versions
 */

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 480px) {

    .container {
        max-width: 480px;
    }
}

@media (min-width: 600px) {

    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 782px) {

    .container {
        max-width: 782px;
    }
}

@media (min-width: 960px) {

    .container {
        max-width: 960px;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

@media (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1440px) {

    .container {
        max-width: 1440px;
    }
}

.visible {
    visibility: visible;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inset-0 {
    inset: 0px;
}

.inset-y-0 {
    top: 0px;
    bottom: 0px;
}

.bottom-0 {
    bottom: 0px;
}

.left-10 {
    left: 2.5rem;
}

.z-10 {
    z-index: 10;
}

.z-\[1000\] {
    z-index: 1000;
}

.float-right {
    float: right;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-video {
    aspect-ratio: 16 / 9;
}

.h-10 {
    height: 2.5rem;
}

.h-4 {
    height: 1rem;
}

.h-48 {
    height: 12rem;
}

.h-8 {
    height: 2rem;
}

.h-full {
    height: 100%;
}

.w-12 {
    width: 3rem;
}

.w-14 {
    width: 3.5rem;
}

.w-4 {
    width: 1rem;
}

.w-96 {
    width: 24rem;
}

.w-full {
    width: 100%;
}

.w-max {
    width: -moz-max-content;
    width: max-content;
}

.-translate-y-10 {
    --tw-translate-y: -2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full {
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
    cursor: pointer;
}

.resize {
    resize: both;
}

.list-decimal {
    list-style-type: decimal;
}

.list-disc {
    list-style-type: disc;
}

.list-none {
    list-style-type: none;
}

.columns-3 {
    -moz-columns: 3;
         columns: 3;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.overflow-y-auto {
    overflow-y: auto;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.border {
    border-width: 1px;
}

.border-r {
    border-right-width: 1px;
}

.border-red-200 {
    --tw-border-opacity: 1;
    border-color: rgb(254 202 202 / var(--tw-border-opacity));
}

.border-transparent {
    border-color: transparent;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
    --tw-bg-opacity: 0.5;
}

.fill-current {
    fill: currentColor;
}

.object-contain {
    -o-object-fit: contain;
       object-fit: contain;
}

.object-cover {
    -o-object-fit: cover;
       object-fit: cover;
}

.p-0 {
    padding: 0px;
}

.p-5 {
    padding: 1.25rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pb-0 {
    padding-bottom: 0px;
}

.pl-12 {
    padding-left: 3rem;
}

.pl-16 {
    padding-left: 4rem;
}

.pt-0 {
    padding-top: 0px;
}

.pt-2 {
    padding-top: 0.5rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-sm {
    font-size: .8rem;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.leading-tight {
    line-height: 1.25;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
    text-decoration-line: underline;
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-500 {
    transition-duration: 500ms;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw;
}

.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important;
}

.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%;
}

.aligncenter {
    margin: 0.5rem auto;
    display: block;
}

@media (min-width: 600px) {

    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left;
    }

    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right;
    }

    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem;
    }

    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem;
    }
}

.wp-caption {
    display: inline-block;
}

.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.wp-caption-text {
    font-size: .;
    color: #4b5563;
}

figcaption {
    font-family: MartianMono, ui-monospace, system-ui;
    font-size: .5rem;
    line-height: 1.4em;
}

/*  
    This component has 2 layouts
    1. button left (default)
    2. button right
*/

.call-to-action {
    position: relative;
    display: flex;
    padding: 3rem 2rem;

    font-family: UncutSans, ui-sans-serif, system-ui;
    color: var(--foreground);
    text-decoration: none;
    background: var(--background);
}

.call-to-action .text {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

.call-to-action .text .title {
            word-break: break-word;
            margin-bottom: 2rem;
        }

.call-to-action .text .button {
            align-self: flex-start;
        }

.call-to-action figure {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.call-to-action figure img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center;
               object-position: center;
            opacity: 0.35;
        }

.call-to-action figure figcaption {
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
        }

.call-to-action:hover .button::after {
                margin-left: 1rem;
            }

/* 1. button left */

.call-to-action.call-to-action--button-left .text .button {
                align-self: flex-start;
            }

/* 2. button right */

.call-to-action.call-to-action--button-right .text .button {
                align-self: flex-end;
            }

.card {
    text-decoration: none;
}

.card figure {
        width: 100%;
        height: auto;
    }

.card figure img {
            width: 100%;
            height: auto;
        }

.card .title {
        margin: 0.5rem 0 0;
    }

.card .description {
        width: 75%;
        margin: 0.5rem 0 0;
        font-size: .8rem;
        line-height: 1.2em;
    }

.card .meta {
        margin-top: 0.5rem;
    }

.card .button {
        margin-top: 0.5rem;
    }

.card:hover .button::after {
                margin-left: 1rem;
            }

.columns {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
}

.columns > * {
    grid-column: span 12 / span 12;
}

.columns.columns--1 > * {
    grid-column: span 12 / span 12;
}

.columns.columns--2 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 960px) {

.columns.columns--2 > * {
        grid-column: span 6 / span 6;
    }
            }

.columns.columns--2 > *.column--narrow {
    grid-column: span 12 / span 12;
}

@media (min-width: 960px) {

.columns.columns--2 > *.column--narrow {
        grid-column: span 4 / span 4;
    }
                }

.columns.columns--2 > *.column--wide {
    grid-column: span 12 / span 12;
}

@media (min-width: 960px) {

.columns.columns--2 > *.column--wide {
        grid-column: span 8 / span 8;
    }
                }

.columns.columns--3 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 600px) {

.columns.columns--3 > * {
        grid-column: span 6 / span 6;
    }
            }

@media (min-width: 960px) {

.columns.columns--3 > * {
        grid-column: span 4 / span 4;
    }
            }

.columns.columns--4 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 600px) {

.columns.columns--4 > * {
        grid-column: span 3 / span 3;
    }
            }

.columns.columns--6 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 600px) {

.columns.columns--6 > * {
        grid-column: span 2 / span 2;
    }
            }

.heading {
    grid-column-start: 1;
    grid-column: span 12 / span 12;

    padding: 0.5rem 0 1rem;
    margin: 0;
    border-top: 1px solid #6b7280;
}

/*  
    This component has 5 different visual layouts for bigger screens
    1. image right (default)
    2. image left
    3. image bottom
    4. image background
    5. image none
*/

.jumbo {
    padding: 3rem 2rem 3rem;

    font-family: UncutSans, ui-sans-serif, system-ui;
    color: var(--foreground);
    background: var(--background);
}

.jumbo .text {
        padding-bottom: 3rem;
    }

.jumbo .text .title {
            word-break: break-word;
            margin-bottom: 1rem;
        }

.jumbo .text .excerpt p {
                width: 75%;
                margin-bottom: 1rem;
            }

.jumbo .text .excerpt .cta {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

.jumbo figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

.jumbo figure img {
            flex: 1;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }

.jumbo figure figcaption {
            margin-top: 1rem;
        }

/* 1. image right (default) */

@media (min-width: 782px) {

.jumbo {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem
}

        .jumbo .text {
        grid-column: span 6 / span 6;
            /* @apply col-start-1; */
    }

        .jumbo figure {
        grid-column: span 6 / span 6;
            /* @apply col-start-7; */
    }
    }

/* 2. image left */

@media (min-width: 782px) {

.jumbo.jumbo--image-left {
            display: grid;
            height: auto
    }

            .jumbo.jumbo--image-left .text {
        grid-column: span 6 / span 6;
        grid-column-start: 7;
                order: 2;
    }

            .jumbo.jumbo--image-left figure {
        grid-column: span 5 / span 5;
        grid-column-start: 1;
                order: 1;
    }
        }

/* 3. image bottom */

@media (min-width: 782px) {

.jumbo.jumbo--image-bottom {
            display: grid;
            height: auto
    }

            .jumbo.jumbo--image-bottom .text {
        grid-column: span 12 / span 12;

                display: grid;

                grid-template-columns: repeat(12, minmax(0, 1fr));

                gap: 1rem;
    }

                .jumbo.jumbo--image-bottom .text .title {
        grid-column: span 5 / span 5;
    }

                .jumbo.jumbo--image-bottom .text .excerpt {
        grid-column: span 5 / span 5;
        grid-column-start: 7;
    }

            .jumbo.jumbo--image-bottom figure {
        grid-column: span 12 / span 12;
    }
        }

/* 4. image background */

.jumbo.jumbo--image-background {
        position: relative;
        padding: 3rem 2rem 2rem;
    }

@media (min-width: 782px) {

.jumbo.jumbo--image-background {
            display: grid;
            height: auto;

            padding: 30vh 2rem 2rem
    }

            .jumbo.jumbo--image-background .text {
        grid-column: span 7 / span 7;
        grid-column-start: 3;
                z-index: 1;
    }

            .jumbo.jumbo--image-background figure {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding: 1rem;
            }

                .jumbo.jumbo--image-background figure img {
                    width: auto;
                    height: 100%;
                    opacity: 0.35;
                }

                .jumbo.jumbo--image-background figure figcaption {
                    position: absolute;
                    right: 2rem;
                    bottom: 2rem;
                }
        }

/* 5. image none */

.jumbo.jumbo--image-none {
        padding: 3rem 2rem 2rem;
    }

.jumbo.jumbo--image-none figure {
            display: none;
        }

@media (min-width: 782px) {

.jumbo.jumbo--image-none {
            display: grid;
            height: auto;

            padding: 5rem 2rem 2rem
    }

            .jumbo.jumbo--image-none .text {
        grid-column: span 7 / span 7;
        grid-column-start: 3;
    }
        }

.li {
    padding: 1rem 0 1rem;
    border-top: 1px solid #6b7280;
    list-style: none;
}

.li .title .meta {
            margin-top: 0.5rem;
        }

.li .description {
        margin-top: 0.5rem;
    }

.li .button {
        margin-top: 0.5rem;
    }

.li.li--horizontal {

        /* background: #000; */
    }

@media (min-width: 782px) {

.li.li--horizontal {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 1rem
    }

            .li.li--horizontal .title {
        grid-column: span 4 / span 4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    }

            .li.li--horizontal .description {
        grid-column: span 8 / span 8;
                margin-top: 0;
    }
        }

.section {
    padding: 1rem 2rem 3rem;
    background: #fff;
}

/**
* component specific overrides
*/

.card {
    position: relative;
    margin-top: 0;
    padding: inherit;
    min-width: initial;
    max-width: initial;
    border: none;
    background: #fff;
}

/**
* layout end generic styling
*/

body {
    font-family: UncutSans, ui-sans-serif, system-ui;
}

body * {
        box-sizing: border-box;
    }

.wp-block {
    max-width: 1280px;
}

.wp-block[data-align='wide'] {
    max-width: 1280px;
}

.wp-block[data-align='full'] {
    max-width: 100%;
}

.focus\:w-full:focus {
    width: 100%;
}

.focus\:cursor-text:focus {
    cursor: text;
}

.focus\:border-red-400:focus {
    --tw-border-opacity: 1;
    border-color: rgb(248 113 113 / var(--tw-border-opacity));
}

.focus\:pl-16:focus {
    padding-left: 4rem;
}

.focus\:pr-4:focus {
    padding-right: 1rem;
}

.focus\:shadow-none:focus {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.peer:focus ~ .peer-focus\:border-red-300 {
    --tw-border-opacity: 1;
    border-color: rgb(252 165 165 / var(--tw-border-opacity));
}

.peer:focus ~ .peer-focus\:stroke-red-500 {
    stroke: #ef4444;
}

@media (min-width: 782px) {

    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media (min-width: 960px) {

    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
}

