/* PublicSpaces CSS */

@import url("https://cdn.publicspaces.net/web/theme/latest/style.css");

body .wp-block-image figcaption.wp-element-caption {
    color: inherit !important;
    text-align: inherit !important;
    margin-bottom: inherit !important;
}

.wp-block-table table {
    font-size: 90%;
}

.listmonk-form label {
    display: inline;
}

.placeholder {
    background-color: var(--background);
}

/* WooCommerce Tweaks */

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: 100%;
}

/* lijntje weg bij cart */
.wp-block-woocommerce-cart a.wc-block-components-product-name {
    font-weight: bold;
    text-decoration: none;
}

.wc-block-components-button {
    background-color: var(--background) !important;
}
/* button color */
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    #respond
    input#submit.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    #respond
    input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    input.button.alt {
    background-color: var(--background) !important;
    padding: 0.8em 1em !important;
    border-radius: 0 !important;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    #respond
    input#submit.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    a.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    button.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    input.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    #respond
    input#submit.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    a.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    button.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    input.button.alt:hover {
    background-color: var(--background) !important;
}
.add_to_cart_button {
    border-radius: 0 !important;
}
.add_to_cart_button::after {
    content: "" !important;
}
.woocommerce-page div.woocommerce {
    padding: 30px;
}

.woocommerce-page.single-product div.woocommerce {
    padding: 0;
}

.is-large .wc-block-checkout__sidebar {
    top: 124px !important;
}

.wc-block-cart__submit-button {
    width: 90%;
}

.wp-block-woocommerce-checkout,
.wp-block-woocommerce-cart {
    padding-left: 30px;
    padding-top: 24px;
}
.wp-block-woocommerce-cart {
    padding: 20px;
}

.woocommerce .rtwpvg-images {
    float: left !important;
}

/* WP Dontation */
.wcdp-button .wcdp-arrow {
    display: none !important;
}
