/**
 * tailwind config and custom components are currently directly copied from the PublicSpace Web Assets repo
 * TODO: preferbly load this from NPM so we keep track of versions
 */

@import 'editor/definitions/tailwind.css';
@import 'editor/definitions/typography.css';

@import 'editor/components/call-to-action.css';
@import 'editor/components/card.css';
@import 'editor/components/columns.css';
@import 'editor/components/heading.css';
@import 'editor/components/jumbo.css';
@import 'editor/components/li.css';
@import 'editor/components/section.css';

/**
* component specific overrides
*/

.card {
    position: relative;
    margin-top: 0;
    padding: inherit;
    min-width: initial;
    max-width: initial;
    border: none;
    background: #fff;
}

/**
* layout end generic styling
*/

body {
    @apply font-body;

    * {
        box-sizing: border-box;
    }
}

.wp-block {
    @apply max-w-screen-xl;
}

.wp-block[data-align='wide'] {
    @apply max-w-screen-xl;
}

.wp-block[data-align='full'] {
    @apply max-w-full;
}
