{% set title = title ?: '' %}
{% set image = image ?: '' %}
{% set button_position = button_position ?: 'left' %}
{% set button_color = button_color ?: 'default' %}
{% set link = link ?: '' %}
{% set theme = theme ?: '' %}

{% if link %}
	<a href="{{is_editing() ? '#': link.url}}" class="call-to-action call-to-action--button-{{button_position}}" {% if theme.override %} style="{{get_block_colors(theme.foreground_color, theme.background_color)}}" {% endif %}>
		<div class="text">
			{% if title %}
				<h3 class="title">{{title}}</h3>
			{% endif %}
			{% if link %}
				<p class="button {% if button_color %}button--{{button_color}}{% endif %}">{{link.title}}</p>
			{% endif %}
		</div>

		{% if image %}
			<figure>
				{% include "partial/image.twig" with { image: get_image(image), size: 'medium'} %}
				{% if image.caption %}<figcaption>{{image.caption}}</figcaption>{% endif %}
			</figure>
		{% endif %}
	</a>
{% endif %}
