{% set title = title ?: '' %}
{% set description = description ?: '' %}
{% set image = image ?: '' %}
{% set button_size = button_size ?: 'small' %}
{% set button_position = button_position ?: 'left' %}
{% set hide_description = hide_description ?: false %}
{% set image_aspect_ratio = image_aspect_ratio ?: false %}
{% set contain = image_contain ?: false %}
{% set link_title = link_title ?: link.title %}
{% set link_url = link_url ?: link.url %}
{% set link_target = link_target ?: link.target ?: '_self' %}

{% if link_url %}
	<a href="{{is_editing() ? '#': link_url}}" target="{{link_target}}" class="card{% if image_aspect_ratio %} card-aspect-{{image_aspect_ratio}}{%endif%} mb-4">
		{% if image %}
			<figure>
				{% include "partial/image.twig" with { image: get_image(image), size: 'large', contain: contain} %}
			</figure>
		{% endif %}

		{% if title %}
			<h4 class="title">{{title}}</h4>
		{% endif %}

		{% if description and not hide_description %}
			<p class="description">{{description}}</p>
		{% endif %}

		{% if link_title %}
			{% if button_size == 'small' %}
				<p class="meta">{{link_title}}</p>
			{% else %}
				<p class="flex {{button_position == 'right' ? 'justify-end': ''}}">
					<span class="button">{{link_title}}</span>
				</p>
			{% endif %}
		{% endif %}
	</a>
{% endif %}
