{% set title = title ?: '' %}
{% set description = description ?: '' %}
{% set image = image ?: {} %}
{% set image_position = image_position ?: 'none' %}
{% set buttons = buttons ?: {} %}
{% set theme = theme ?: {} %}
{% set button_color = theme.button_color ?: 'inverted' %}

<section class="jumbo jumbo--image-{{image_position}}" {% if theme.override %} style="{{get_block_colors(theme.foreground_color, theme.background_color)}}" {% endif %}>
	<div class="text">
		{% if title %}
			<h1 class="title">{{title}}</h1>
		{% endif %}

		{% if description or buttons %}
			<div class="excerpt">
				{% if description %}
					<p class="font-bold">{{description}}</p>
				{% endif %}
				{% if buttons %}
					<div class="cta">
						{% for button in buttons %}
							<a class="{% if button.presentation == 'primary'%}button button--{{button_color}}{% endif %}" href="{{button.link.url}}" target="{{button.link.target}}">{{button.link.title}}</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>

	{% if image %}
		<figure>
			{% include "partial/image.twig" with { image: get_image(image), size: 'large'} %}
			<figcaption>{{image.caption}}</figcaption>
		</figure>
	{% endif %}
</section>
