{% set posts = posts ?: {} %}
{% set title = title ?: '' %}
{% set description = description ?: '' %}
{% set list_appearance = list_appearance ?: 'horizontal' %}
{% set card_button_size = card_options.button_size ?: 'small' %}
{% set card_button_position = card_options.button_position ?: 'left' %}
{% set card_image_aspect_ratio = card_options.image_aspect_ratio ?: false %}
{% set card_hide_description = card_options.hide_description ?: false %}
{% set columns = columns ?: 1 %}

<section class="section">
	<h2 class="heading">{{title}}</h2>
	<div class="columns columns--{{ description ? 2 : 1}}">

		{% if description %}
			<div class="column column--narrow">
				<p class="narrow">
					{{description}}
				</p>
			</div>
		{% endif %}

		<div class="column column--wide">
			<ul class="columns columns--{{columns}}">
				{% for post in posts %}
					{% if list_appearance == 'horizontal' or list_appearance == 'vertical'%}
						<li class="li li--{{list_appearance}}">
							<div class="title">
								<h4 class="title">{{post.title}}</h4>
								<p class="meta">
									{% if post.post_type == 'event' %}
										{% include 'partial/dates.twig' with { 
												start: post.date_start, 
												end: post.date_end} %}
										{% set terms = post.terms('event-type') %}
										{% if terms|length %}
										<p class="meta"> 
										{% for term in terms %}
										   {% if term.slug != 'none' %}
										   <span class="px-4 mb-2 py-1 mr-2 inline-block" style="background-color: {{term.background_color ?: 'var(--background)'}}; color: {{term.foreground_color ?: 'var(--foreground)'}};">{{term.name}}</span>
										   {% endif %}
										{% endfor %}
										</p>
										{% endif %}
									{% else %}
										<time datetime="{{post.date|date('Y-m-d')}}">{{post.date}}</time>
									{% endif%}
								</p>
							</div>
							{% if not is_editing()  %}
								<div class="description">
									{{post.excerpt({ words: 50, read_more: '' })}}
									<p class="flex">
										<a class="button" href="{{post.link}}" style="--icon: '↗'">Lees meer</a>
									</p>
								</div>
							{% endif %}
						</li>

					{% elseif list_appearance == 'card' %}
						{% include 'blocks/card.twig' with { 
							image: post.logo ?: post.thumbnail, 
							title: post.title, 
							image_contain: post.logo ? true : false,
							link_url: post.link,
							description: post.excerpt({ words: 20, read_more: '' }),
							hide_description: card_hide_description,
							button_size: card_button_size,
							image_aspect_ratio: card_image_aspect_ratio,
							button_position: card_button_position} %}
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
	{% if not no_more %}
		{% if posts.found_posts > max_posts %}
		<div class="flex justify-end">
			<a class="button" href="/?s=&amp;{{query}}">{{ __('More', 'publicspaces') }}</a>
		</div>
		{% endif %}
	{% endif %}
</section>
