{% extends 'base.twig' %}

{% block content %}
{% include "blocks/jumbo.twig" with {title: category.name, description: category.description, image: category.thumbnail, image_position: 'none'} %}
<section class="section">
    {% do action('woocommerce_before_main_content') %}

    <div class="before-shop-loop">
        {% do action('woocommerce_before_shop_loop') %}
    </div>

    <div class="loop">
	<ul class="products columns-3">
        {% for post in products %}
            {% include ["partial/tease-product.twig"] %}
        {% endfor %}
	</ul>
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
</section>
{% endblock  %}
