{% extends "page.twig" %}

{% block main %}
<section class="section">
    {% do action('woocommerce_before_single_product') %}

    <div itemscope itemtype="https://schema.org/Product" class="single-product-details {{ post.class }}">

            {% do action('woocommerce_before_single_product_summary') %}


        <div class="summary entry-summary">
            {% do action('woocommerce_single_product_summary') %}
        </div>

        {% do action('woocommerce_after_single_product_summary') %}

        <meta itemprop="url" content="{{ post.link }}" />

    </div>

    {% do action('woocommerce_after_single_product') %}
</section>
{% endblock  %}
