/*  
    This component has 2 layouts
    1. button left (default)
    2. button right
*/

.call-to-action {
    position: relative;
    display: flex;
    padding: theme(spacing.12) theme(spacing.8);

    font-family: theme(fontFamily.body);
    color: var(--foreground);
    text-decoration: none;
    background: var(--background);

    .text {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;

        .title {
            word-break: break-word;
            margin-bottom: theme(spacing.8);
        }

        .button {
            align-self: flex-start;
        }
    }

    figure {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0.35;
        }

        figcaption {
            position: absolute;
            right: theme(spacing.2);
            bottom: theme(spacing.2);
        }
    }

    &:hover {
        .button {
            &::after {
                margin-left: theme(spacing.4);
            }
        }
    }

    /* 1. button left */
    &.call-to-action--button-left {
        .text {
            .button {
                align-self: flex-start;
            }
        }
    }

    /* 2. button right */
    &.call-to-action--button-right {
        .text {
            .button {
                align-self: flex-end;
            }
        }
    }
}
