.columns {
    display: grid;
    padding: 0;

    @apply grid-cols-12;
    @apply gap-4;

    > * {
        @apply col-span-12;
    }

    &.columns--1 {
        > * {
            @apply col-span-12;
        }
    }

    &.columns--2 {
        > * {
            @apply col-span-12;

            @screen lg {
                @apply col-span-6;
            }

            &.column--narrow {
                @apply col-span-12;

                @screen lg {
                    @apply col-span-4;
                }
            }

            &.column--wide {
                @apply col-span-12;

                @screen lg {
                    @apply col-span-8;
                }
            }
        }
    }

    &.columns--3 {
        > * {
            @apply col-span-12;

            @screen sm {
                @apply col-span-6;
            }

            @screen lg {
                @apply col-span-4;
            }
        }
    }

    &.columns--4 {
        > * {
            @apply col-span-12;

            @screen sm {
                @apply col-span-3;
            }
        }
    }

    &.columns--6 {
        > * {
            @apply col-span-12;

            @screen sm {
                @apply col-span-2;
            }
        }
    }
}
