/*  
    This component has 5 different visual layouts for bigger screens
    1. image right (default)
    2. image left
    3. image bottom
    4. image background
    5. image none
*/

.jumbo {
    padding: theme(spacing.12) theme(spacing.8) theme(spacing.12);

    font-family: theme(fontFamily.body);
    color: var(--foreground);
    background: var(--background);

    .text {
        padding-bottom: theme(spacing.12);

        .title {
            word-break: break-word;
            margin-bottom: theme(spacing.4);
        }

        .excerpt {
            p {
                width: 75%;
                margin-bottom: theme(spacing.4);
            }

            .cta {
                display: flex;
                align-items: center;
                @apply gap-4;
            }
        }
    }

    figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        img {
            flex: 1;
            width: 100%;
            object-fit: cover;
        }

        figcaption {
            margin-top: theme(spacing.4);
        }
    }

    /* 1. image right (default) */
    @screen md {
        display: grid;

        @apply grid-cols-12;
        @apply gap-4;

        .text {
            @apply col-span-6;
            /* @apply col-start-1; */
        }

        figure {
            @apply col-span-6;
            /* @apply col-start-7; */
        }
    }

    /* 2. image left */
    &.jumbo--image-left {
        @screen md {
            display: grid;
            height: auto;

            .text {
                @apply col-span-6;
                @apply col-start-7;
                order: 2;
            }

            figure {
                @apply col-span-5;
                @apply col-start-1;
                order: 1;
            }
        }
    }

    /* 3. image bottom */
    &.jumbo--image-bottom {
        @screen md {
            display: grid;
            height: auto;

            .text {
                @apply col-span-12;

                display: grid;
                @apply grid-cols-12;
                @apply gap-4;

                .title {
                    @apply col-span-5;
                }

                .excerpt {
                    @apply col-span-5;
                    @apply col-start-7;
                }
            }

            figure {
                @apply col-span-12;
            }
        }
    }

    /* 4. image background */
    &.jumbo--image-background {
        position: relative;
        padding: theme(spacing.12) theme(spacing.8) theme(spacing.8);

        @screen md {
            display: grid;
            height: auto;

            padding: 30vh theme(spacing.8) theme(spacing.8);

            .text {
                @apply col-span-7;
                @apply col-start-3;
                z-index: 1;
            }

            figure {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding: theme(spacing.4);

                img {
                    width: auto;
                    height: 100%;
                    opacity: 0.35;
                }

                figcaption {
                    position: absolute;
                    right: theme(spacing.8);
                    bottom: theme(spacing.8);
                }
            }
        }
    }

    /* 5. image none */
    &.jumbo--image-none {
        padding: theme(spacing.12) theme(spacing.8) theme(spacing.8);

        figure {
            display: none;
        }

        @screen md {
            display: grid;
            height: auto;

            padding: theme(spacing.20) theme(spacing.8) theme(spacing.8);

            .text {
                @apply col-span-7;
                @apply col-start-3;
            }
        }
    }
}
