{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: __('Oops... page not found','publicspaces'), description: __('or 404 as some of you may call  this error!','publicspaces'), image_position: 'none', theme: {button_color:'themed'}, buttons:[
		{link: {url:'javascript:history.back()',title:'Go back'},presentation:'primary'},
		{link: {url:'/',title:__('Or, visit our homepage','publicspaces')}}

	]} %}

	
	
{% endblock %}