{% extends "base.twig" %}

{% block content %}

	<section class="section">
		<nav class="tablist">
			{% for item in archive_menu.items %}
				{% set current = item.current ? 'true' : 'false' %}
				<a href="{{item.link}}" role="tab" aria-selected="{{current}}">{{ item.title }}</a>
			{% endfor %}
		</nav>
	</section>

	{% include 'blocks/query.twig' with {list_appearance: 'card', columns: 3, no_more: true, card_options: {image_aspect_ratio: 'video'}} %}
	{% include 'partial/pagination.twig' with { pagination: posts.pagination() } %}

{% endblock %}
