<!doctype html>
<html {{ site.language_attributes }} style="{{get_theme_colors()}}">
	<head>
		<meta charset="{{ site.charset }}"/>
		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
		<link rel="pingback" href="{{ site.pingback_url }}"/>
		<link rel="profile" href="http://gmpg.org/xfn/11">
		{{function('wp_head')}}
	</head>
	<body class="{{body_class}}" data-template="base.twig">

		{{function('do_action', 'tailpress_site_before')}}

		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		{% include "partial/header.twig" %}

		{{function('do_action', 'tailpress_content_start')}}

		<main id="content" role="main"  class="bg-white">
			{% block content %}
				<section class="section">
					Sorry, no content
				</section>
			{% endblock %}
		</main>

		{{function('do_action', 'tailpress_content_end')}}
		{{function('do_action', 'tailpress_content_after')}}

		{% include "partial/footer.twig" %}

		{% block footer %}
			
		  {{ function('wp_footer') }}
		{% endblock %}

<!-- Modal backdrop -->
<div class="fixed inset-0 bg-gray-800 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center z-[1000] close-modal hidden" id="my-modal">

  <!-- Modal content -->
  <div class="relative p-5 border w-96 shadow-lg bg-white modal-content">

    <!-- Modal header -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="">{{ __('Share page', 'publicspaces') }}</h2>
      <button class="text-black close-modal">&times;</button>
    </div>

    <!-- URL display -->
    <div class="mb-4">
    	<p>{{ __('Use this URL to share this page via email, chat or social media.', 'publicspaces') }}</p>
      <input type="text" readonly class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded" value="" id="url-to-copy">
    </div>

    <!-- Copy button -->
    <div class="flex justify-end">
      <button class="button" onclick="copyURL()">{{ __('Copy to clipboard', 'publicspaces') }}</button>
    </div>

  </div>
</div>
<div id="toast" class="fixed bottom-0 left-10 transform translate-y-full px-4 py-3  bg-gray-900 text-white transition ease-in-out duration-500 z-[1000]">
  <div class="flex justify-center">
    {{ __('Copied to clipboard.', 'publicspaces') }}
    <button id="close-toast" class="float-right ml-2 focus:outline-none">
      <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
        <path d="M4.79 14.73L7.17 12 9.5 14.73 14.21 10 11.83 7.57 9.5 10z" />
      </svg>
    </button>
  </div>
</div>


		<script>

		const modal 			= document.getElementById('my-modal');
		const toast 			= document.getElementById('toast');
		const closeButton = document.getElementById('close-toast');
		const copyText 		= document.getElementById("url-to-copy");

		closeButton.addEventListener('click', () => {
		  toast.classList.add('hidden');
		});


		function removeToast() {
		  toast.classList.add('translate-y-full');
		  toast.classList.remove('-translate-y-10');
		}

		function showToast() {
		  toast.classList.remove('translate-y-full');
		  toast.classList.add('-translate-y-10'); 
		  setTimeout(() => {
		    toast.classList.remove('hidden');
		  }, 100); // Add a slight delay to avoid flickering
		  setTimeout(() => {
			  removeToast();
			}, 5000); 
		}

		// Function to copy the URL
		function copyURL() {
		  
		  copyText.select();
		  copyText.setSelectionRange(0, 99999); // For mobile devices
		  document.execCommand("copy");

		  showToast();
		  closeModal();
		}

		function closeModal() {
			modal.classList.add('hidden');
		}

		// Close modal function
		document.querySelectorAll('.close-modal').forEach((element) => {
		  element.onclick = closeModal;
		});
		document.querySelectorAll('.open-share-modal').forEach((element) => {
		  element.onclick = function(event) {
		  	event.stopPropagation();
		  	copyText.value = window.location.href
		    modal.classList.add('flex')
		    modal.classList.remove('hidden');;
		    return false;
		  }
		});
		// Prevent modal from closing when clicking inside
		document.querySelectorAll('.modal-content').forEach((element) => {
		  element.onclick = function(event) {
		    event.stopPropagation();
		  }
		});



		
		</script>



	</body>
</html>
