{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: post.title, description: function('has_excerpt')?function('get_the_excerpt'):'', image: post.thumbnail, image_position: header_image_position, buttons: buttons} %}

	<section class="section">
		<article class="article">
	    	<main>

				{{post.content}}
			</main>
			{% if event_date_start or event_date_end or event_location %}
			<aside class="sidebar sidebar--sticky sidebar--has-sticky-header-offset">
				<h3>{{ __('Event meta','publicspaces') }}</h3>
				<h4>{{ __('When', 'publicspaces') }}</h4>
				<p class="meta">
					{% set multiday = event_date_end and event_date_end|date("d-m-Y") != event_date_start|date("d-m-Y") %}
					{% if event_date_start %}
						{{ __('Date', 'publicspaces') }}:
						{% include 'partial/dates.twig' with { 
												start: event_date_start, 
												end: event_date_end} %}<br />
						{{ __('Time', 'publicspaces') }}:
						{{event_date_start|date("H:i")}}
						<br/>
					{% endif %}
						
				</p>
				
				{% if event_location %}
					<h4>{{ __('Where', 'publicspaces') }}</h4>
					<p class="meta">
						{{event_location['address']}}
						<br/>
					</p>
				{% endif %}
				
			</aside>
			{% endif %}
		</article>
	</section>
	{% if event_related_posts|length > 0 %}
		{% include "blocks/query.twig" with {title: __('Related publications','publicspaces'), posts: event_related_posts, list_appearance:'card', card_options:{'image_aspect_ratio':'video'}, columns:3} %}
	{% endif %}

{% endblock %}
