{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: post.title, buttons: buttons, description: function('has_excerpt')?function('get_the_excerpt'):'', image: post.thumbnail  ?: logo , image_position: header_image_position} %}




	<section class="section">
		<article class="article">
	    	<main>
				{{post.description}}
			</main>
			{% if  url %}
			<aside class="sidebar sidebar--sticky sidebar--has-sticky-header-offset">

				{% include "blocks/call-to-action.twig" with {title: __('Want to know more about what this organisation is about?','publicspaces'), link: {url:url, title: __('Visit website','publicspaces')} } %}

			</aside>
			{% endif %}
		</article>
	</section>


	{% if links|length > 0 %}
		<section class="section pt-0 pb-0">
		  <section class="columns columns--{{links|length}}">
			{% for link in links %}
					{% include "blocks/call-to-action.twig" with {title: link.title, link: link.link, theme: link.theme, image: link.background_image, button_color: link.button_color} %}
			{% endfor %}
		  </section>
		</section>
	{% endif %}


	{% if org_related_posts|length > 0 %}
		{% include "blocks/query.twig" with {title: __('Related publications','publicspaces'), posts: org_related_posts, query: org_query, list_appearance:'card', card_options:{'image_aspect_ratio':'video'}, columns:4} %}
	{% endif %}

    {% if projects %}
	<section class="section pt-0">
	    <h2 class="heading">{{__('Projects','publicspaces')}}</h2>
			<section class="columns columns--4">
				{% for project in projects %}
				<a class="card" href="{{ function('get_permalink', project.ID) }}">
				    <figure>
				    	{% if project.thumbnail %}
				        	{% include "partial/image.twig" with { image: get_image(project.thumbnail), size: 'small'} %}
				    	{% else %}
				    		<div class="placeholder h-48 "></div>
				    	{% endif %}
				    </figure>
				    <h4 class="title">{{project.post_title}}</h4>
				    <p class="description">{{project.post_excerpt}}</p>
				</a>

			{% endfor %}
			</section>

	</section>
	{% endif %}

{% endblock %}
