{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: post.title, description: function('has_excerpt')?function('get_the_excerpt'):'', image: post.thumbnail, image_position: header_image_position} %}

	<section class="section">
		
		<article class="article">
			<main>
				{{post.content}}
			</main>
			
		</article>
	</section>
	
{% endblock %}
