{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: post.title, description: function('has_excerpt')?function('get_the_excerpt'):'', image: post.thumbnail, image_position: header_image_position} %}

	{% if project_links|length > 0 %}
		<section class="section">
		  <section class="columns columns--{{project_links|length}}">
			{% for link in project_links %}
					{% include "blocks/call-to-action.twig" with {title: link.title, link: link.link, theme: link.theme, image: link.background_image, button_color: link.button_color} %}
			{% endfor %}
		  </section>
		</section>
	{% endif %}


	<section class="section">
		<article class="article">
	    	<main>
				
				{{post.content}}
			
			</main>
		</article>
	</section>
			
	{% if project_related_posts|length > 0 %}
		{% include "blocks/query.twig" with {title: __('Related publications','publicspaces'), posts: project_related_posts, list_appearance:'card', card_options:{'image_aspect_ratio':'video'}, columns:3} %}
	{% endif %}

    {% if project_people|length > 0 %}
	<section class="section">
	    <h2>{{__('Team','publicspaces')}}</h2>
		<section class="columns columns--2">
			<section class="columns columns--4">
				{% for person in project_people %}
					
					<a class="card" href="{{person.profile_url ?: '#'}}">
				    <figure>
				    	{% if person.avatar %}
				        	{% include "partial/image.twig" with { image: get_image(person.avatar), size: 'small', rounded: true} %}
				    	{% else %}
				    		<svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="avatar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <circle fill="{{get_theme_background_color()}}" cx="256" cy="256" r="256"></circle>
							        <circle fill="{{get_theme_foreground_color()}}" cx="256.5" cy="157.5" r="83.5"></circle>
							        <path d="M256,256 C334.424434,256 398,337.03646 398,437 L398,437 L114,437 C114,337.03646 177.575566,256 256,256 Z" fill="{{get_theme_foreground_color()}}"></path>
							    </g>
							</svg>
				    	{% endif %}
				    </figure>
				    <h4 class="title">{{person.name}}</h4>
				    <p class="description">{{person.role}}</p>
				</a>

			{% endfor %}
			</section>
			{% include "blocks/call-to-action.twig" with {title: project_contact.title|format(post.title), link:  project_contact.link} %}
		</section>
	</section>
	{% endif %}


	{% set organisations = post.meta('organisations') %}
	{% if organisations|length > 0 %}
	<section class="section">
	    <h2>{{__('Organisations','publicspaces')}}</h2>
			<section class="columns columns--4">
				{% for org in organisations %}
					{% include 'blocks/card.twig' with { 
							image: org.logo ?: org.thumbnail, 
							title: org.post_title, 
							image_contain: org.logo ? true : false,
							link_url: function('get_permalink', org.ID),
							hide_description: true,
							button_size: card_button_size,
							image_aspect_ratio: 'video',
							button_position: card_button_position} %}
			{% endfor %}
			</section>

	</section>
	{% endif %}

{% endblock %}
