{% extends "base.twig" %}

{% block content %}

	{% include "blocks/jumbo.twig" with {title: post.title, description: function('has_excerpt')?function('get_the_excerpt'):'', image: post.thumbnail, image_position: header_image_position} %}

	<section class="section">

		<article class="article">
			<main>
                           {% block main %}
				{{post.content}}
			   {% endblock %}
			</main>
			{% if true %}
			<aside class="sidebar sidebar--sticky sidebar--has-sticky-header-offset">


				{% if not sidebar_hide_share %}
				<a href="#" class="open-share-modal call-to-action call-to-action--button-left p-5 mb-4" {% if theme.override %} style="{{get_block_colors(theme.foreground_color, theme.background_color)}}" {% endif %}>
					<div class="text">

							<h3>{{__('Share this page','publicspaces')}}</h3>
							<p class="button" style="--icon: '↗'">{{__('Share','publicspaces')}}</p>
					</div>

					{% if false %}
						<figure>
							{% include "partial/image.twig" with { image: get_image(image), size: 'large'} %}
							{% if image.caption %}<figcaption>{{image.caption}}</figcaption>{% endif %}
						</figure>
					{% endif %}
				</a>
				{% endif %}



				{%set translations = get_translations() %}
				{% if translations|length > 0 %}
				<div class="call-to-action call-to-action--button-left p-5 mb-4" {% if theme.override %} style="{{get_block_colors(theme.foreground_color, theme.background_color)}}" {% endif %}>
					<div class="text">
    					<h3>{{ __('Translations', 'publicspaces') }}</h3>
							{% for translation in translations %}
							{% if translation.remoteUrl != function('get_permalink') %}<a class="button button--inverted" style="--icon: '↗'" href="{{translation.remoteUrl}}" >{{translation.language.isoName}}</a>{% endif %}
							{% endfor %}
					</div>
					{% if false %}
						<figure>
							{% include "partial/image.twig" with { image: get_image(image), size: 'large'} %}
							{% if image.caption %}<figcaption>{{image.caption}}</figcaption>{% endif %}
						</figure>
					{% endif %}
				</div>
				{% endif %}

				{% set sidebar_title = __('Meta','publicspaces') %}
				<div class="call-to-action call-to-action--button-left p-5 mb-4" {% if theme.override %} style="{{get_block_colors(theme.foreground_color, theme.background_color)}}" {% endif %}>
					<div class="text">
						<h3 >{{ sidebar_title }}</h3>
						<p class="small">
						    {% if sidebar_show_post_author %}
								{{ __('Author', 'publicspaces') }}: {{ function('get_the_author') }}<br />
							{% endif %}
								{{ __('Publication', 'publicspaces') }}: {{  post.date(__('F j, Y', 'publicspaces')) }}<br />
							{{ __('Last modified', 'publicspaces') }}: {{ post.modified_date('U')|time_ago }}
						</p>
						<p class="text-sm ">
							 {% for term in post.terms('category') %}
							    <a class="button px-4 py-1 mr-2 mb-2 inline-block" style="--icon: '°'" href="{{term.link}}">{{term.name}}</a>
							{% endfor %}
							{% for term in post.terms('tags') %}
							    <a class="button button--inverted px-4 mb-2 py-1 mr-2 inline-block" style="--icon: '°'" href="{{term.link}}">{{term.name}}</a>
							{% endfor %}
						</p>
				 	</div>
				</div>
				<div class="mt-4">
					{{sidebar_extras}}
				</div>
			</aside>
			{% endif %}
		</article>
	</section>

	{% if sidebar_related_posts|length > 0 %}
		{% include "blocks/query.twig" with {title: __('Related','publicspaces'), posts: sidebar_related_posts, list_appearance:'card', card_options:{'image_aspect_ratio':'video'}, columns:4, no_more: true} %}
	{% endif %}


	{% if function('have_comments') %}
	<section class="section">
		<h2 class="heading">{{ __('Comments', 'publicspaces') }}</h2>
		{% if function('comments_open') or  function('get_comments_number') %}
			{{ function('comments_template')}}
		{% endif %}
	</section>
	{% endif %}
{% endblock %}
