<time datetime="{{start|date('Y-m-d H:i')}}">
{% set multiday = end and end|date("d-m-Y") != start|date("d-m-Y") %}
{% if multiday %}
	{% if end|date("Y") != start|date("Y") %}
		{{start|date("l d M. Y")}}
	{% elseif end|date("M") != start|date("M") %}
		{{start|date("l d M.")}}
	{% else %}
		{{start|date("l d")}}
	{%endif%}
	 
	{{ __('till', 'publicspaces') }}
		{{end|date("l d M. Y")}}
{% else %}
	{{start|date("l d M. Y")}} 
{% endif %}
</time>