{% if menu %}
	<ul>
		{% for item in menu.items %}
			<li>
				<a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
