<footer class="footer">
	<div class="columns">
		<div>
			<a class="brand mb-2" href="/">{{site.name}}</a>
			{% include "partial/footer-list.twig" with {menu: footer_brand_menu} %}
			<div class="pt-2">
				<publicbadges-drawer badge-color="{{get_theme_foreground_color()}}" language="{% if site.language == 'nl_NL' %}NL{% else %}EN{% endif %}" />
			</div>
		</div>
		{{function('do_action', 'tailpress_footer')}}

		{% include "partial/footer-list.twig" with {menu: footer_primary_menu} %}
		{% include "partial/footer-list.twig" with {menu: footer_secondary_menu} %}
		<div class="description">
			<p>{{footer_description}}</p>
		</div>
	</div>
</footer>
