{{function('do_action', 'tailpress_header')}}

<header class="header header--sticky">
	<a href="{{site.link}}">PublicSpaces
		{% if site.title|lower != 'publicspaces.net' %}
			<span>/ {{site.description}}</span>
		{% endif %}
	</a>
	<nav>
		<input type="checkbox" id="menu_toggle"/>
		<label for="menu_toggle">Menu</label>
		<ul>
		   {% if show_search == true %}
			<li>
				<form  action="/" class="relative mx-auto w-max">
		        <input name="s" type="search" style="display: inline !important; --tw-ring-shadow: 0 0 #000 !important;"
		              class="peer focus:shadow-none cursor-pointer relative z-10 h-10 w-14 pl-16 border-red-200 bg-transparent pl-12 outline-none focus:w-full focus:cursor-text focus:border-red-400 focus:pl-16 focus:pr-4" />
		        <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent  px-3.5 peer-focus:border-red-300 peer-focus:stroke-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
		          <path stroke-linecap="round" border="{{get_theme_foreground_color()}}" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
		        </svg>
		      </form>
		    </li>
			{% endif %}

			{% for item in main_menu.items %}
				<li>
					{% if not item.children %}
						<a href="{{ item.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ item.title }}</a>
					{% endif %}
					{% if item.children %}
						<input type="checkbox" id="{{item.id}}"/>
						<label for="{{item.id}}">{{ item.title }}</label>
						<ul>
							{% for child in item.children %}
								<li>
									<a href="{{ child.link }}" {{ item.is_target_blank ? 'target="_blank"' }}>{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
