{% if pagination.pages is not empty %}
	<section class="section flex items-center justify-end">

		<div class="mr-2">
			<p class="small">
				Showing page
				{{ pagination.current }}
				of
				{{ pagination.total }}
			</p>
		</div>

		<nav>
			<ul class="flex justify-center items-center p-0 list-none">
				{% if pagination.prev %}
					<li class="prev">
						<a class="button mr-2" href="{{ pagination.prev.link }}" style="--icon: '←'">Previous</a>
					</li>
				{% else %}
					<li class="prev disabled">
						<button class="button mr-2 bg-gray-300" style="--icon: '←'" disabled>Previous</button>
					</li>
				{% endif %}

				{% if pagination.next %}
					<li class="next">
						<a class="button" href="{{ pagination.next.link }}">Next</a>
					</li>
				{% else %}
					<li class="next disabled">
						<button class="button bg-gray-300" disabled>Next</button>
					</li>
				{% endif %}
			</ul>
		</nav>

	</section>
{% endif %}
